/.github/*                 @sodiqjonovich
/test/*                    @ahadulla
/src/OnMed.Application/*   @rustamkulov,@Erqoziyev
/src/OnMed.DataAccess/*    @rustamkulov,@Erqoziyev
/src/OnMed.Domain/*        @rustamkulov,@Erqoziyev
/src/OnMed.Persistance/*   @rustamkulov,@Erqoziyev
/src/OnMed.Service/*       @rustamkulov,@Erqoziyev
/src/OnMed.WebApi/*        @ahadulla,@Erqoziyev
